nav {
  display: flex;
}

body{
  font-family: "Avenir", "Arial";
}

legend {
  font-size: large;
  text-align: center;
  margin-bottom: 10px;
}

.button {
  background-color: blue;
  color: white;
  padding-left:  20px;
  padding-right:  20px;
  margin-left: 30%;
  margin-top: 10px;
}

.italics {
  font-style: italic;
  font-size: small;
}

.form {

}
.container { 
  border-style: solid;
  background-color: snow;
  height: 500px;
  width:  400px;
  margin: auto;
  
}
.captcha {
  background-color: #e1e6e5;
  padding: 0px;
  font-size: small;
}
div{
  padding: 5px;
}

body {
  background-color: #e1e6e5;
}

.sign-in{
  margin-left: 90%;
  font-size: small;
}

.legal {
  font-size: small;
  margin-left: 30%;
  margin-right: 30%;
}